main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

article {
    flex: 1 1 160px;
}

article p {
    font-size: 11px;
    margin: auto;
    display: inline-block;
    margin-bottom: .5rem;
}

.favoriteButton {
    padding-left: 1rem;
    cursor: pointer;
}

.favoriteButton:hover {
    color: purple
}
